@media screen and (max-width: 600px) {
  .topnav a {
  	display: none;
  	border: none;
  }
  .topnav button {
    float: right;
    display: inline-block;
    line-height: 150px;
    border: none;
    color: #9E1414;
  	transition: color 0.1s ease;
  	text-decoration: underline;
  	padding-right: 0.5em;
  	background-color: transparent;
  }
  .topnav button:hover{
  text-decoration: none;
  }
  .topnav {
  	margin: 0;
	}
  header {
  border-bottom: 1px solid #cccccc;
  background: #eeeeee;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
  float: right; 
  }
  .topnav.responsive button {
  margin: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    margin: 0 0 1.25em 0;
  }
  .clearfloat {
  	clear: both;
  }
} 

@media screen and (max-width: 600px) {
  .site-logo-nav img {
	width: 100px;
	margin: 1.25em 0 1.25em 0;
	float: left;
  }
  .main-logo {
  display: none;
  }
  .alt-logo {
  display: block;
  }
  .subtitle {
	display: none;
  }
  .post-comment.reply {
    margin-left: 1.5em;
  }
.collapsiblecontent {
  padding: 1em;
}  
  
}